@model GCFinal.MVC.Models.WeatherViewModel

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<table>
    <tr>
        <th>
            Daily Max Temp
        </th>
        <th>
            Daily Min Temp
        </th>
        <th>
            Daily Avg Temp
        </th>
        <th>
            Avg Precip (mm)
        </th>
        <th>
            Avg Wind Speed
        </th>
        <th>
            Avg Humidity %
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.DailyMaxTemp)
        </td>
        <td>
            @Html.DisplayFor(item => item.DailyMinTemp)
        </td>
        <td>
            @Html.DisplayFor(item => item.DailyAvgTemp)
        </td>
        <td>
            @Html.DisplayFor(item => item.AvgPrecip)
        </td>
        <td>
            @Html.DisplayFor(item => item.AvgWind)
        </td>
        <td>
            @Html.DisplayFor(item => item.AvgHumidity)
        </td>
    </tr>
</table>
<table>
    <tr>
        <th>Quantity</th>
        <th>Items</th>
    </tr>

    @foreach (var item in Model.PackingItems)
     {
        <tr>
            <td>@item.Quantity</td>
            <td>@item.Name</td>
            
        </tr>
     }
    </table>
