@model GCFinal.MVC.Models.WeatherViewModel

@{
    /**/

    ViewBag.Title = "Result";
}

<h2>Here are your results for @Model.CityName, @Model.RegionName during @Model.StartDate and @Model.EndDate!</h2>
<p>Based on historical data from the past three years</p>
@if (Model.Forecasts != null)
{
    <div>
        <div class="container" style="background-color:gray"<h2>Forecast Data</h2>
    <div class="row">
    <div class="card col-sm" style="width: 15rem">
    <h5 class="card-title" style="text-align:center">Daily Max Temp (&#8457)</h5>
    <div class="card-body" style="text-align:center">

    @Html.DisplayFor(item => item.Forecasts.DailyMaxTemp)

    </div>
    </div>
    <div class="card col-sm" style="width: 15rem">
    <h5 class="card-title" style="text-align:center">Daily Min Temp (&#8457)</h5>
    <div class="card-body" style="text-align:center">

    @Html.DisplayFor(item => item.Forecasts.DailyMinTemp)

    </div>
    </div>
    <div class="card col-sm" style="width: 15rem">
        <h5 class="card-title" style="text-align:center">Daily Avg Temp (&#8457)</h5>
    <div class="card-body" style="text-align:center">

    @Html.DisplayFor(item => item.Forecasts.DailyAvgTemp)

    </div>
    </div>
    <div class="card col-sm" style="width: 15rem">
    <h5 class="card-title" style="text-align:center">Daily Avg Precipitation (mm)</h5>
    <div class="card-body" style="text-align:center">

    @Html.DisplayFor(item => item.Forecasts.AvgPrecip)

    </div>
    </div>
    <div class="card col-sm" style="width: 15rem">
    <h5 class="card-title" style="text-align:center">Daily Avg Wind Speed (MpH)</h5>
    <div class="card-body" style="text-align:center">

    @Html.DisplayFor(item => item.Forecasts.AvgWind)

    </div>
    </div>
    <div class="card col-sm" style="width: 15rem">
    <h5 class="card-title" style="text-align:center">Daily Avg Humidity %</h5>
    <div class="card-body" style="text-align:center">

    @Html.DisplayFor(item => item.Forecasts.AvgHumidity)

    </div>
    </div>
    </div>
    </div>
    }
<div class="container" style="background-color:gray"<h2>Historical Data</h2>
    <div class="row">
        <div class="card col-sm" style="width: 15rem">
            <h5 class="card-title" style="text-align:center">Daily Max Temp (&#8457)</h5>
            <div class="card-body" style="text-align:center">

@Html.DisplayFor(item => item.Historicals.DailyMaxTemp)

            </div>
        </div>
        <div class="card col-sm" style="width: 15rem">
            <h5 class="card-title" style="text-align:center">Daily Min Temp (&#8457)</h5>
            <div class="card-body" style="text-align:center">

@Html.DisplayFor(item => item.Historicals.DailyMinTemp)

            </div>
        </div>
        <div class="card col-sm" style="width: 15rem">
            <h5 class="card-title" style="text-align:center">Daily Avg Temp (&#8457)</h5>
            <div class="card-body" style="text-align:center">

@Html.DisplayFor(item => item.Historicals.DailyAvgTemp)

            </div>
        </div>
        <div class="card col-sm" style="width: 15rem">
            <h5 class="card-title" style="text-align:center">Daily Avg Precipitation (mm)</h5>
            <div class="card-body" style="text-align:center">

@Html.DisplayFor(item => item.Historicals.AvgPrecip)

            </div>
        </div>
        <div class="card col-sm" style="width: 15rem">
            <h5 class="card-title" style="text-align:center">Daily Avg Wind (MpH)</h5>
            <div class="card-body" style="text-align:center">

@Html.DisplayFor(item => item.Historicals.AvgWind)

            </div>
        </div>
        <div class="card col-sm" style="width: 15rem">
            <h5 class="card-title" style="text-align:center">Daily Avg Humidity %</h5>
            <div class="card-body" style="text-align:center">

@Html.DisplayFor(item => item.Historicals.AvgHumidity)

            </div>
        </div>
    </div>
</div>





<br />
<h3>
    <p>The total weight for your luggage is @Html.DisplayFor(item => item.TotalWeightInLbs) lbs</p>
    @foreach (var result in Model.ContainerPackingResults)
    {
        <p>A @result.ContainerName should fit it all</p>
    }
</h3>
<h4>We think that you should bring these items!</h4>
<h2>
    <div class="container">


        @foreach (var item in Model.PackingItems)
        {

            <span class="badge badge-pill badge-secondary">
                @item.Quantity @item.Name
            </span>



            <!--<td>@item.Quantity</td>-->
            <!--<td>@item.Name</td>-->
        }
    </div>
</h2>

