@model GCFinal.MVC.Models.WeatherViewModel

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<p>Based on historical data from the past three years</p>
<table class="table">
    <tr>
        <th>
            Daily Max Temp (&#8457;)
        </th>
        <th>
            Daily Min Temp (&#8457;)
        </th>
        <th>
            Daily Avg Temp (&#8457;)
        </th>
        <th>
            Avg Precip (mm)
        </th>
        <th>
            Avg Wind Speed (Mph)
        </th>
        <th>
            Avg Humidity %
        </th>
    </tr>
    @if(Model.Forecasts != null)
    { 
    <tr>
        <td>@Html.DisplayFor(item => item.Forecasts.DailyMaxTemp)</td>
        <td>@Html.DisplayFor(item => item.Forecasts.DailyMinTemp)</td>
        <td>@Html.DisplayFor(item => item.Forecasts.DailyAvgTemp)</td>
        <td>@Html.DisplayFor(item => item.Forecasts.AvgPrecip)</td>
        <td>@Html.DisplayFor(item => item.Forecasts.AvgWind)</td>
        <td>@Html.DisplayFor(item => item.Forecasts.AvgHumidity)</td>
    </tr>
    }
    <tr>

        <td>@Html.DisplayFor(item => item.Historicals.DailyMaxTemp)</td>
        <td>@Html.DisplayFor(item => item.Historicals.DailyMinTemp)</td>
        <td>@Html.DisplayFor(item => item.Historicals.DailyAvgTemp)</td>
        <td>@Html.DisplayFor(item => item.Historicals.AvgPrecip)</td>
        <td>@Html.DisplayFor(item => item.Historicals.AvgWind)</td>
        <td>@Html.DisplayFor(item => item.Historicals.AvgHumidity)</td>

    </tr>

</table>

<h3>We think that you should bring these items!</h3>
<br />
<table class="table">

    <tr>
        <th>Quantity</th>
        <th>Items</th>
    </tr>

    @foreach (var item in Model.PackingItems)
    {
        <tr>
            <td>@item.Quantity</td>
            <td>@item.Name</td>

        </tr>
    }
</table>
@foreach (var result in Model.ContainerPackingResults)
{
    <p>@result.ContainerName</p>
    foreach (var item in result.AlgorithmPackingResults)
    {
        <p>@item.IsCompletePack IsCompletePack</p>
        <p>@item.PercentContainerVolumePacked % of container packed</p>
        <p>@item.PercentItemVolumePacked % of items packed</p>
        <p>@item.PackTimeInMilliseconds packed time</p>

        foreach (var thing in item.UnpackedItems)
        {
            <p>@thing.Name things not packed</p>
            <p>@thing.Quantity quantity</p>
        }
    }
}
